@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');

* {
    margin: 0;
}
body {
    background-color: whitesmoke;
}

.header {
    font-family: "Imperial Script", cursive;
    height: 400px;
    background-image: url("../img/photo_2026-06-29_20-52-57.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
}

h1 {
    font-size: 100px;
    color: darkseagreen;
    margin: auto;
    text-align: center;
    padding-top: 130px;
}

.main {
    border: 1px solid transparent;
    font-family: "Neuton", cursive;
}
/*.main > table{*/
/*    padding: 0;*/
/*    background-image: url("../img/img_1.png");*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/


/*}*/
/*.main td{*/
/*    color: black;*/
/*    font-weight: 500;*/
/*    padding: 0 10px;*/
/*    text-align: justify;*/
/*    text-indent: 32px;*/
/*    line-height: 1.5;*/
/*}*/

/*.main td > h2{*/
/*    font-size: 40px;*/
/*    font-weight: 700;*/
/*    padding-bottom: 10px;*/
/*    border: black solid 1px;*/
/*    border-radius: 10px;*/
/*    background-color: #b39f7a;*/
/*    text-align: center;*/
/*    text-transform: uppercase;*/
/*}*/
/*.main td > p{*/
/*    font-weight: 900;*/
/*}*/

/*.main td > a{*/
/*    border: black solid 1px;*/
/*    border-radius: 5px;*/
/*    background-color: bisque;*/
/*    text-align: center;*/
/*    margin: 0 250px;*/
/*    font-weight: 600;*/
/*    text-decoration: none;*/
/*}*/